.add-code-block
    max-width: 700px
    margin: auto
    display: grid

    input
        margin-bottom: 10px

    textarea
        margin-bottom: 10px
        min-height: 400px

    button
        width: 200px
        justify-self: end
